@{
    ViewData["Title"] = "About Page";    
}
<h3>Demo of Angular Elements in ASP.NET Core</h3>

@section Scripts {
    <script src="~/dist/runtime-es2015.js" type="module"></script>
    <script src="~/dist/runtime-es5.js" nomodule defer></script>
    <script src="~/dist/polyfills-es5.js" nomodule defer></script>
    <script src="~/dist/polyfills-es2015.js" type="module"></script>
    <script src="~/dist/vendor-es2015.js" type="module"></script>
    <script src="~/dist/vendor-es5.js" nomodule defer></script>
    <script src="~/dist/main-es2015.js" type="module"></script>
    <script src="~/dist/main-es5.js" nomodule defer></script>
}
<github-stars></github-stars>